<div class="menubar">
	<ul class="menu vertical">
		<li><?php echo $html->link('Importera', array('controller' => 'data', 'action' => 'import')); ?></li>
		<li><?php echo $html->link('Exportera', array('controller' => 'data', 'action' => 'export')); ?></li>
	</ul>	
</div>
