body {
	padding: 0 20px;
	background-color: #f2f2f2;
}

/* Layout */
    
#wrapper {
	background: #fff;
}
	#wrapper div.inner {
		padding: 20px;
	}
#flashMessage.message {
    background-color: #cfc;
    padding: 15px;
}
.menubar {
   margin-bottom: 20px;
   padding: 20px;
}
ul.menu {
   margin: 0;
   list-style-type: none;
}
    ul.menu.vertical li {
		display: block;
		margin: 0px;
		padding: 10px;
		border-bottom: 1px solid #ddd;
		background-color: #f2f2f2;
    }
    ul.menu a {
		text-decoration: none;
		color: #777;
    }
    ul.menu a:hover {
		color: #333;
    }

.max-width {
    width: 100%;
}
table {
    table-layout: auto;
}
table th {
    text-align: left;
	vertical-align: top;
}
table td {
	vertical-align: top;
}
table.table-fixed {
    table-layout: fixed;
}
/* Forms */
div.input, div.submit {
    height: 22px;
    margin: 10px 0;
    clear: both;
}
    div.input.text label,
    div.input.select label {
        display: block;
        float: left;
        width: 150px;
    }
    div.input.text input,
    div.input.select select {
        float: left;
        margin-left: 20px;
    }
    div.input.checkbox input {
        display: block;
        float: left;
        margin-left: 90px;
    }
    div.input.checkbox label {
        float: left;
        margin-left: 15px;
    }
    div.input div.error-message {
        float: left;
        margin-left: 20px;
        color: #f33;
    }

    #ajax-status {
		padding-left: 5px;
		vertical-align: middle;
    }
    #ajax-loader {
		display: none;
    }