/*
 * Makes floating objects take up space. Fix from http://www.csscreator.com/attributes/containedfloat.php
 */
.floatcontainer:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility:hidden;
}
.floatcontainer{
	display: inline-block;
}
/* Hides from IE Mac \*/
* html .floatcontainer{
	height: 1%;
}
.floatcontainer{
    display:block;
}
/* End Hack */
 */