/* Reset */
html, body, h1, h2, h3, h4, p, ul, ol, li {
	margin: 0;
	padding: 0;
}

/* General markup */
body {
	font-size: 67.5%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #fff;
}

h1, h2, h3, h4 {
	margin-top: 1.1em;
	margin-bottom: 0.3em;
	font-family: Georgia, Times, serif;
	font-size: 2.2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1.1em;
	font-size: 1.0em;
	line-height: 1.4em;
}

.first {
	margin-top: 0;
}

    div.input.text label,
    div.input.select label {
        text-align: right;
	font-size: 1.3em;
    }
    div.input.text input,
    div.input.select select {
	font-size: 1.3em;
    }
    div.input.checkbox input {
	font-size: 1.3em;
    }

table.medium-font td,
.medium-font {
	font-size: 1.2em;
}

#header_logo {
    letter-spacing: 0.3em;
}
    #header_menu li {
	font-size: 1.2em;
    }
