@import url(fonts.css);

h1, h2, h3, h4 {
	font-family: Arial, Helvetica, sans-serif;
}

div {
    display: block;
}

/* Layout */
#header_container {
	background-color: #fff;
}
    #header {
        width: 760px;
        margin: 0 auto;
        background-color: #fff;
    }
    #header_logo {
        padding: 15px 0;
		text-align: right;
		border-bottom: 1px solid #000;
		text-transform: uppercase;
    }
	
#wrapper {
	position: relative;
	width: 760px;
	margin: 0 auto;
	background: #fff;
}
#footer_container {
	width: 760px;
	margin: 0 auto;
}
	#footer {
		margin-top: 15px;
		padding: 5px 0;
		text-align: right;
		border-top: 1px solid #000;
	}

.max-width {
    width: 100%;
}
table {
    table-layout: auto;
}
table th {
    text-align: left;
}
table.table-fixed {
    table-layout: fixed;
}
.underline {
	border-bottom: 3px solid #000;
}